## Generating fake data

In [31]:
from database import Database

In [32]:
db = Database("mma.db")
db.connect()

In [ ]:
# Clears all previous database entries
# db.reset_tables()

In [20]:
ls

create.py    example.ipynb  __init__.py  __pycache__/
database.py  images/        mma.db

In [ ]:
# Clears all previous database entries
# db.reset_tables()

In [33]:
db.insert_user("first_test_user", "password123")
db.insert_user("second_test_user", "password456")
db.insert_user("fake_user", "fakepass")

Error inserting user: UNIQUE constraint failed: users.username
Error inserting user: UNIQUE constraint failed: users.username
Error inserting user: UNIQUE constraint failed: users.username

In [34]:
db.insert_chat("First Test Chat", 1)
db.insert_chat("Second Test Chat", 2)

db.insert_prompt(1, 1, "a test prompt", 1, False, False, None, False, None, None, None)
db.insert_prompt(1, 1, "another test prompt", 2, True, False, "suggestion text", True, "enhanced version", None, None)
db.insert_prompt(2, 2, "yet another test prompt", 1, False, False, None, False, None, None, None)

db.insert_image(1, 1, 1, 7.0, 0.375, "./images/test_image.jpg")
db.insert_image(2, 1, 1, 3.5, 0.5, "./images/test_image2.jpg")
db.insert_image(3, 1, 2, 5.75, 0.3, "./images/test_image3.jpg")
db.insert_image(3, 2, 2, 9.0, 0.15, "./images/test_image4.jpg")

Error inserting image: UNIQUE constraint failed: images.path
Error inserting image: UNIQUE constraint failed: images.path
Error inserting image: UNIQUE constraint failed: images.path
Error inserting image: UNIQUE constraint failed: images.path

In [35]:
# Fetch user_id for fake_user
fake_user_df = db.fetch_user_by_username("fake_user")
fake_user_id = int(fake_user_df.iloc[0]['id'])

# Add a new chat for sauvage examples
db.insert_chat("Sauvage Test Chat", fake_user_id)

# Fetch the new chat_id
sauvage_chat_df = db.fetch_chats_by_user(fake_user_id)
sauvage_chat_id = int(sauvage_chat_df.iloc[-1]["id"])  # get most recent

# PROMPT 1 — Base sauvage
db.insert_prompt(chat_id=sauvage_chat_id, user_id=fake_user_id,
                 prompt="sauvage", depth=1,
                 used_suggestion=False, modified_suggestion=False,
                 suggestion_used=None, is_enhanced=False,
                 enhanced_prompt=None, image_in_id=None, images_out=None)

sauvage_prompts = db.fetch_prompts_by_chat(sauvage_chat_id)
base_prompt_id = int(sauvage_prompts.iloc[0]['id'])

db.insert_image(prompt_id=base_prompt_id, user_id=fake_user_id, chat_id=sauvage_chat_id,
                prompt_guidance=4.0, image_guidance=0.25,
                path="./images/sauvage.png")


# PROMPT 2 — in a desert
db.insert_prompt(chat_id=sauvage_chat_id, user_id=fake_user_id,
                 prompt="in a desert", depth=2,
                 used_suggestion=True, modified_suggestion=False,
                 suggestion_used="in a desert", is_enhanced=False,
                 enhanced_prompt=None, image_in_id=None, images_out=None)

sauvage_prompts = db.fetch_prompts_by_chat(sauvage_chat_id)
desert_prompt_id = int(sauvage_prompts.iloc[1]['id'])

db.insert_image(prompt_id=desert_prompt_id, user_id=fake_user_id, chat_id=sauvage_chat_id,
                prompt_guidance=5.0, image_guidance=0.3,
                path="./images/sauvage_desert.png")


# PROMPT 3 — with sunset behind → enhanced to "sauvage perfume with sunset ambiance"
db.insert_prompt(chat_id=sauvage_chat_id, user_id=fake_user_id,
                 prompt="with sunset behind", depth=2,
                 used_suggestion=True, modified_suggestion=True,
                 suggestion_used="sunset", is_enhanced=True,
                 enhanced_prompt="sauvage perfume with sunset ambiance",
                 image_in_id=None, images_out=None)

sauvage_prompts = db.fetch_prompts_by_chat(sauvage_chat_id)
sunset_prompt_id = int(sauvage_prompts.iloc[2]['id'])

db.insert_image(prompt_id=sunset_prompt_id, user_id=fake_user_id, chat_id=sauvage_chat_id,
                prompt_guidance=6.0, image_guidance=0.35,
                path="./images/sauvage_sunset.png")

Error inserting image: UNIQUE constraint failed: images.path
Error inserting image: UNIQUE constraint failed: images.path
Error inserting image: UNIQUE constraint failed: images.path

In [45]:
with Database("mma.db") as db:  # adjust path if needed
    print("=== USERS ===")
    print(db.fetch_all_users())

    print("\n=== CHATS ===")
    print(db.fetch_all_chats())

    print("\n=== PROMPTS ===")
    print(db.fetch_all_prompts())

    print("\n=== IMAGES ===")
    print(db.fetch_all_images())

=== USERS ===
   id          username     password
0   1   first_test_user  password123
1   2  second_test_user  password456
2   3         fake_user     fakepass

=== CHATS ===
   id              title  user_id
0   1    First Test Chat        1
1   2   Second Test Chat        2
2   3  Sauvage Test Chat        3
3   4    First Test Chat        1
4   5   Second Test Chat        2
5   6  Sauvage Test Chat        3

=== PROMPTS ===
    id  chat_id  user_id                   prompt  depth  used_suggestion  \
0    1        1        1            a test prompt      1                0
1    2        1        1      another test prompt      2                1
2    3        2        2  yet another test prompt      1                0
3    4        3        3                  sauvage      1                0
4    5        3        3              in a desert      2                1
5    6        3        3       with sunset behind      2                1
6    7        1        1            a test prompt      1                0
7    8        1        1      another test prompt      2                1
8    9        2        2  yet another test prompt      1                0
9   10        6        3                  sauvage      1                0
10  11        6        3              in a desert      2                1
11  12        6        3       with sunset behind      2                1

    modified_suggestion  suggestion_used  is_enhanced  \
0                     0             None            0
1                     0  suggestion text            1
2                     0             None            0
3                     0             None            0
4                     0      in a desert            0
5                     1           sunset            1
6                     0             None            0
7                     0  suggestion text            1
8                     0             None            0
9                     0             None            0
10                    0      in a desert            0
11                    1           sunset            1

                         enhanced_prompt image_in_id images_out
0                                   None        None       None
1                       enhanced version        None       None
2                                   None        None       None
3                                   None        None       None
4                                   None        None       None
5   sauvage perfume with sunset ambiance        None       None
6                                   None        None       None
7                       enhanced version        None       None
8                                   None        None       None
9                                   None        None       None
10                                  None        None       None
11  sauvage perfume with sunset ambiance        None       None

=== IMAGES ===
   id  prompt_id  user_id  chat_id  prompt_guidance  image_guidance  \
0   1          1        1        1             7.00           0.375
1   2          2        1        1             3.50           0.500
2   3          3        1        2             5.75           0.300
3   4          3        2        2             9.00           0.150
4   5          4        3        3             4.00           0.250
5   6          5        3        3             5.00           0.300
6   7          6        3        3             6.00           0.350

                          path
0      ./images/test_image.jpg
1     ./images/test_image2.jpg
2     ./images/test_image3.jpg
3     ./images/test_image4.jpg
4         ./images/sauvage.png
5  ./images/sauvage_desert.png
6  ./images/sauvage_sunset.png

In [40]:
db = Database("mma.db")
db.connect()

In [41]:
db.fetch_all_prompts()

,id,chat_id,user_id,prompt,depth,used_suggestion,modified_suggestion,suggestion_used,is_enhanced,enhanced_prompt,image_in_id,images_out
0,1,1,1,a test prompt,1,0,0,None,0,None,None,None
1,2,1,1,another test prompt,2,1,0,suggestion text,1,enhanced version,None,None
2,3,2,2,yet another test prompt,1,0,0,None,0,None,None,None
3,4,3,3,sauvage,1,0,0,None,0,None,None,None
4,5,3,3,in a desert,2,1,0,in a desert,0,None,None,None
5,6,3,3,with sunset behind,2,1,1,sunset,1,sauvage perfume with sunset ambiance,None,None
6,7,1,1,a test prompt,1,0,0,None,0,None,None,None
7,8,1,1,another test prompt,2,1,0,suggestion text,1,enhanced version,None,None
8,9,2,2,yet another test prompt,1,0,0,None,0,None,None,None
9,10,6,3,sauvage,1,0,0,None,0,None,None,None
10,11,6,3,in a desert,2,1,0,in a desert,0,None,None,None
11,12,6,3,with sunset behind,2,1,1,sunset,1,sauvage perfume with sunset ambiance,None,None

In [42]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_users(pandas=True)
# db.fetch_user_by_id(1)
# db.fetch_user_by_username("first_test_user")

   id          username     password
0   1   first_test_user  password123
1   2  second_test_user  password456
2   3         fake_user     fakepass

In [43]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_images(pandas=True)
# image = db.fetch_image_by_id(1)
# image = db.fetch_image_by_path("images/test_image.jpg")

,id,prompt_id,user_id,chat_id,prompt_guidance,image_guidance,path
0,1,1,1,1,7.00,0.375,./images/test_image.jpg
1,2,2,1,1,3.50,0.500,./images/test_image2.jpg
2,3,3,1,2,5.75,0.300,./images/test_image3.jpg
3,4,3,2,2,9.00,0.150,./images/test_image4.jpg
4,5,4,3,3,4.00,0.250,./images/sauvage.png
5,6,5,3,3,5.00,0.300,./images/sauvage_desert.png
6,7,6,3,3,6.00,0.350,./images/sauvage_sunset.png

In [44]:
db.close()

# Authentication Examples

The database now supports users with passwords. Here are some authentication examples.

In [ ]:
# Authentication example
with Database() as db:
    # Register a new user
    db.insert_user("alice", "password123")

    # Verify login credentials
    user_data = db.fetch_user_by_username("alice")
    
    if not user_data.empty:
        stored_password = user_data.iloc[0]["password"]
        if "password123" == stored_password:
            print(f"Login successful for user: {user_data.iloc[0]['username']}")
        else:
            print("Incorrect password")
    else:
        print("User not found")

In [ ]:
db.insert_user("first_test_user", "password123")
db.insert_user("second_test_user", "password456")

In [ ]:
db.insert_chat("First Test Chat", 1)
db.insert_chat("Second Test Chat", 2)

db.insert_prompt(1, 1, "a test prompt", 1, False, False, None, False, None, None, None)
db.insert_prompt(1, 1, "another test prompt", 2, True, False, "suggestion text", True, "enhanced version", None, None)
db.insert_prompt(2, 2, "yet another test prompt", 1, False, False, None, False, None, None, None)

db.insert_image(1, 1, 1, 7.0, 0.375, "images/test_image.jpg")
db.insert_image(2, 1, 1, 3.5, 0.5, "images/test_image2.jpg")
db.insert_image(3, 1, 2, 5.75, 0.3, "images/test_image3.jpg")
db.insert_image(3, 2, 2, 9.0, 0.15, "images/test_image4.jpg")

In [ ]:
db.fetch_all_prompts()

In [ ]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_users(pandas=True)
# db.fetch_user_by_id(1)
# db.fetch_user_by_username("first_test_user")

In [ ]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_images(pandas=True)
# image = db.fetch_image_by_id(1)
# image = db.fetch_image_by_path("images/test_image.jpg")

In [ ]:
db.close()

# Authentication Examples

The database now supports users with passwords. Here are some authentication examples.

In [ ]:
# Authentication example
with Database() as db:
    # Register a new user
    db.insert_user("alice", "password123")

    # Verify login credentials
    user_data = db.fetch_user_by_username("alice")
    
    if not user_data.empty:
        stored_password = user_data.iloc[0]["password"]
        if "password123" == stored_password:
            print(f"Login successful for user: {user_data.iloc[0]['username']}")
        else:
            print("Incorrect password")
    else:
        print("User not found")