In [1]:
from database import Database

In [2]:
db = Database()
db.connect()

In [3]:
# Clears all previous database entries
db.reset_tables()

In [4]:
db.insert_user("first_test_user", "password123")
db.insert_user("second_test_user", "password456")

In [5]:
db.insert_chat("First Test Chat", 1)
db.insert_chat("Second Test Chat", 2)

db.insert_prompt(1, 1, "a test prompt", 1, False, False, None, False, None, None, None)
db.insert_prompt(1, 1, "another test prompt", 2, True, False, "suggestion text", True, "enhanced version", None, None)
db.insert_prompt(2, 2, "yet another test prompt", 1, False, False, None, False, None, None, None)

db.insert_image(1, 1, 1, 7.0, 0.375, "images/test_image.jpg")
db.insert_image(2, 1, 1, 3.5, 0.5, "images/test_image2.jpg")
db.insert_image(3, 1, 2, 5.75, 0.3, "images/test_image3.jpg")
db.insert_image(3, 2, 2, 9.0, 0.15, "images/test_image4.jpg")

In [6]:
db.fetch_all_prompts()

,id,chat_id,user_id,prompt,depth,used_suggestion,modified_suggestion,suggestion_used,is_enhanced,enhanced_prompt,image_in_id,images_out
0,1,1,1,a test prompt,1,0,0,None,0,None,None,None
1,2,1,1,another test prompt,2,1,0,suggestion text,1,enhanced version,None,None
2,3,2,2,yet another test prompt,1,0,0,None,0,None,None,None

In [7]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_users(pandas=True)
# db.fetch_user_by_id(1)
# db.fetch_user_by_username("first_test_user")

   id          username     password
0   1   first_test_user  password123
1   2  second_test_user  password456

In [8]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_images(pandas=True)
# image = db.fetch_image_by_id(1)
# image = db.fetch_image_by_path("images/test_image.jpg")

,id,prompt_id,user_id,chat_id,prompt_guidance,image_guidance,path
0,1,1,1,1,7.00,0.375,images/test_image.jpg
1,2,2,1,1,3.50,0.500,images/test_image2.jpg
2,3,3,1,2,5.75,0.300,images/test_image3.jpg
3,4,3,2,2,9.00,0.150,images/test_image4.jpg

In [9]:
db.close()

# Authentication Examples

The database now supports users with passwords. Here are some authentication examples.

In [ ]:
# Authentication example
with Database() as db:
    # Register a new user
    db.insert_user("alice", "password123")

    # Verify login credentials
    user_data = db.fetch_user_by_username("alice")
    
    if not user_data.empty:
        stored_password = user_data.iloc[0]["password"]
        if "password123" == stored_password:
            print(f"Login successful for user: {user_data.iloc[0]['username']}")
        else:
            print("Incorrect password")
    else:
        print("User not found")