In [1]:
from database import Database

In [2]:
db = Database()
db.connect()

In [3]:
# Clears all previous database entries
db.reset_tables()

In [4]:
db.insert_user("first_test_user")
db.insert_user("second_test_user")

In [5]:
db.insert_image(1, "images/test_image.jpg", 7, 0.375, "a test prompt", 1, True, True)
db.insert_image(1, "images/test_image2.jpg", 3.5, 0.5, "another test prompt", 2, True, False)
db.insert_image(1, "images/test_image3.jpg", 5.75, 0.3, "yet another test prompt", 3, False, True)
db.insert_image(2, "images/test_image4.jpg", 9, 0.15, "more test prompt", 1, False, False)
db.insert_image(2, "images/test_image5.jpg", 4.35, 0.85, "final test prompt", 2, True, True)

In [6]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_users(pandas=True)
# db.fetch_user_by_id(1)
# db.fetch_user_by_username("first_test_user")

   id          username
0   1   first_test_user
1   2  second_test_user

In [7]:
# Default for reading to pandas dataframe is True, change to False if you want to fetch without pandas

db.fetch_all_images(pandas=True)
# image = db.fetch_image_by_id(1)
# image = db.fetch_image_by_path("images/test_image.jpg")

,id,user_id,image_path,guidance,strength,prompt,prompt_number,enhanced_prompt,selected
0,1,1,images/test_image.jpg,7.00,0.375,a test prompt,1,1,1
1,2,1,images/test_image2.jpg,3.50,0.500,another test prompt,2,1,0
2,3,1,images/test_image3.jpg,5.75,0.300,yet another test prompt,3,0,1
3,4,2,images/test_image4.jpg,9.00,0.150,more test prompt,1,0,0
4,5,2,images/test_image5.jpg,4.35,0.850,final test prompt,2,1,1

In [8]:
db.close()

In [9]:
# alternatively, open and close automatically

with Database() as db:
    db.insert_user_if_not_exists("alice")
    users = db.fetch_all_users()
    display(users)

   id          username
0   1   first_test_user
1   2  second_test_user
2   3             alice